/* 颜色定义 */
/* 嫣红 */
$color-red: #ff5e5e;
/* 桔橙 */
$color-orange: #f38b00;
/* 明黄 */
$color-yellow: #fbbd08;
/* 橄榄 */
$color-olive: #8dc63f;
/* 森绿 */
$color-green: #39b54a;
/* 天青 */
$color-cyan: #1cbbb4;
/* 海蓝 */
$color-blue: #505fff;
/* 姹紫 */
$color-purple: #5b039f;
/* 木槿 */
$color-mauve: #9c26b0;
/* 桃粉 */
$color-pink: #e03997;
/* 棕褐 */
$color-brown: #a5673f;
/* 玄灰 */
$color-grey: #8799a3;
/* 草灰 */
$color-gray: #aaaaaa;
/* 墨黑 */
$color-black: #333333;
/* 雅白 */
$color-white: #ffffff;
